<div align='right' class="forms">
<h1>Enter Personal Information</h1>
  <%= render partial: 'artist', locals: { artist: artist, tattoo_styles: tattoo_styles, path: edit_artist_path(artist.id), method: :patch, button_text: 'Next'} %>
</div>
