<div align='right' class="forms">
<h1>Enter Personal Information</h1>
  <%= render partial: 'user', locals: { path: user_path(@user.id), method: :patch, button_text: 'Finish creating profile'} %>
</div>
