<div class="simple-calendar" align='right'>
  <%= month_calendar(attribute: :date, events: @appointments) do |date, appointments| %>
    <%= link_to date, artists_appointment_path(date, format: :js), remote: true %>

    <% appointments.each do |appointment| %>
      <div>
        <%= appointment.description %>
      </div>
    <% end %>
  <% end %>
  <div id="appointment-action">
  </div>
</div>
<hr>
