/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
   background-color: black;
}

h3 {
   float: right;
   width: 70%;
   padding-right: 5%;
   padding-left: 5%;
   font-size: 30px;
   color: rgb(205, 184, 102);
   font-family: 'Courier New', Courier, monospace;
}

nav.master_nav {
  background-color: rgb(0, 0, 0);
  width: 25%;
  float: left;
  position: fixed;
}

.logo img{
   float: left;
   width: 100%;
}

.link a{
   padding-top: 1%;
   padding-right: 5%;
   padding-left: 5%;
   font-size: 20px;
   color: rgb(102, 166, 205);
   font-family: 'Courier New', Courier, monospace;
}

.artists {
   float: right;
   width: 70%;
}

.images {
   float: right;
   width: 70%;
}

.image img{
   max-width: 30%;
   max-height: 20%;
   float: right;
   padding-right: 3%;
   padding-top: 1%;
   padding-bottom: 1%;
}

.title {
   float: right;
   width: 70%;
   padding-right: 5%;
   padding-left: 5%;
   font-size: 50px;
   color: rgb(205, 102, 102);
   font-family: 'Courier New', Courier, monospace;
}

.description {
   width: 65%;
   float: right;
   padding-right: 5%;
   padding-left: 5%;
   color: whitesmoke;
   font-family: 'Courier New', Courier, monospace;
}

.style {
   float: right;
   width: 70%;
   padding-top: 5%;
   padding-bottom: 2%;
   color: rgb(205, 184, 102);
   font-family: 'Courier New', Courier, monospace;
}

.search {
  float: right;
   width: 70%;
   padding-top: 2%;
   padding-bottom: 2%;
   font-size: 30px;
   color: rgb(102, 166, 205);
   font-family: 'Courier New', Courier, monospace;
}

.profile {
  float: right;
  width: 65%;
  font-size: 24px;
  color: rgb(102, 166, 205);
  font-family: 'Courier New', Courier, monospace;
}

.forms {
  float: right;
  width: 65%;
  padding: 10%;
  font-size: 24px;
  color: rgb(102, 166, 205);
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-size: 18px;
  color: rgb(102, 166, 205);
  font-family: 'Courier New', Courier, monospace;
}

div.polaroid {
  margin: 50px 50px 40px 40px;
  width: 40%;
  padding: 2%;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(202, 204, 198, 0), 0 6px 20px 0 rgba(202, 204, 198, 0);
  margin-bottom: 25px;
}


div.container {
  text-align: center;
  padding: 10px 20px;
  max-width: 30%;
  max-height: 20%;
  float: right;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: grey;
}

.profile img {
  width: 33%;
}
